.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: pulse 1s infinite ease-in-out alternate;
  }
}

.App-header {
  background-color: #ffb7ba;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateX(20deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from { transform: scale(0.6); }
  to { transform: scale(1.0); }
}
